.main-container {
    background-color: #1F2937;
    width: 446px;
    height: 386px;
    display: inline-block;
    padding: 118px 52px 46px 52px;
    margin: 0px;

}
.upper {

}

.lower {

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.heading1 {
    color: white;
    font-family: Karla;
    font-weight: 800;
    font-size: 40px;
    
}

.heading2 {
    color: #4ADF86;
    font-family: Karla;
    font-weight: 800;
    font-size: 40px;
    
}

.subtext {
    font-family: Inter;
    font-size: 20px;
    color: #D5D4D8; 
    
    
}

.input-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.pw-length {
    background-color: #10B981;
    color: white;
    border:none;
    border-radius: 6px;
    width: 213px;
    height: 42px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;


    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pw-length-input {
    
    background-color: #10B981;
    color: white;
    border:none;
    border-radius: 6px;
    width: 50px;
    height: 42px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

#generate-btn {
    margin-top: 10px;
    background-color: #10B981;
    color: white;
    border:none;
    border-radius: 6px;
    width: 213px;
    height: 42px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
#generate-btn:hover {
box-shadow: 0px 0px 8px #064E3B;
}

#generate-btn:active {
    margin-left: 2px;
    margin-top: 12px;
    margin-bottom: -2px;
    margin-right: -2px;
    box-shadow: -2px -2px 8px #064E3B;
}
.flash-icon {
    padding-left: 10px;
    width: 20px;
    height: 20px;
}
.button-text {
    padding-left: 10px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #2F3E53;
    background-color: #2F3E53;
    height: 1px;
    border-width: 0px;
}

.pw-suggestion-container {
    background-color: #273549;
    margin-bottom: 25px;
    width: 210px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #55F991;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.pw-image {
    width: 20px;
    
}

.pw-suggestion {
    background-color: #273549;
    color: #55F991;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    border: none;
    width: 210px;
    height: 40px;
    border-radius: 6px;
}
